# Tuples Introduction

A **tuple** is an immutable, ordered collection of elements in Python. Tuples can store elements of different data types, such as integers, strings, and even other tuples. Once created, the elements of a tuple cannot be changed, added, or removed.

**Key characteristics of tuples:**
- Defined using parentheses `()`
- Immutable (cannot be modified after creation)
- Can contain duplicate values
- Elements are accessed by index



Tuples are commonly used to group related data and to ensure that the data cannot be altered.

In [1]:
## creating a tuple

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tple=tuple()
print(type(tple))

<class 'list'>
<class 'tuple'>

In [5]:
numbers = tuple([1, 2, 3, 4, 5])
print(numbers)
print(type(numbers))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [8]:
a=list((1, 2, 3, 4, 5))
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [11]:
mixed_tuple = (1, 2.5, 'hello', True)
print(mixed_tuple)

(1, 2.5, 'hello', True)

In [12]:
#Accessing tuple elements

print(numbers[0])
print(numbers[1])
print(numbers[-2])

1
2
4

In [13]:
numbers[0:4]

(1, 2, 3, 4)

In [14]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [ ]:
#tuples operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 2.5, 'hello', True)

In [16]:
mixed_tuple*3

(1, 2.5, 'hello', True, 1, 2.5, 'hello', True, 1, 2.5, 'hello', True)

In [ ]:
numbers*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [18]:
## immutability of tuples

lst = [1, 2, 3]
print(lst)
lst[0] = 10
print(lst)

numbers = (1, 2, 3)
print(numbers)
# numbers[0] = 10 # this will raise an error
# numbers[0] = 10
# print(numbers)

[1, 2, 3]
[10, 2, 3]
(1, 2, 3)

In [22]:
#tuple methods
num=(1,2,3,1,3,45,3,2,3,4,5,6,7,8,9,0)
print(num.count(1))

2

In [23]:
print(num.index(2))

1

In [26]:
packed_tuple = 1, "Hello", 3.12
print(packed_tuple)

(1, 'Hello', 3.12)

In [27]:
#unpacking tuples
a, b, c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.12

In [28]:
#unpacking with *
numbers = (1, 2, 3, 4, 5)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

In [30]:
##nested tuples

lst=[[1,2,3,4],[5,6,7,8],[1,"Hello",3.12,True]]
lst[0][0:3]

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = ("hello", "world", "python")
nested_tuple = (tuple1, tuple2, tuple3)
print(nested_tuple)
print(nested_tuple[0])

((1, 2, 3), (4, 5, 6), ('hello', 'world', 'python'))
(1, 2, 3)

In [32]:
#iterating through a tuple
for i in numbers:
    print(i)

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item)

1
2
3
4
5
1
2
3
4
5
6
hello
world
python